<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Provider Interface Tests">
            <directory>Provider</directory>
        </testsuite>
        <testsuite name="Search Functionality Tests">
            <directory>Search</directory>
        </testsuite>
        <testsuite name="API Tests">
            <directory>API</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>Integration</directory>
        </testsuite>
    </testsuites>
    <coverage/>
    <logging>
        <testdoxText outputFile="results/testdox.txt"/>
        <junit outputFile="results/junit.xml"/>
    </logging>
</phpunit>
