* {
    max-width: 100%;
}

html {
    overflow-x: hidden;
    max-width: 100vw;
    width: 100%;
}

body {
    padding: .5em;
    overflow-x: hidden;
    max-width: 100vw;
    width: 100%;
    box-sizing: border-box;
}

div.titletext{
    font-family:Open Sans,Arial;
    border-style: none;
    background: rgba(50,50,255,.8);
    border-radius: 10px;
    color:white;
    font-size:2em;
    margin:.1em auto;
    padding-bottom: .2em;
    max-width:8em;
    text-align:justify;
    text-align:center;
}

div.titletext p {
    margin:-1em;
    color: white;
    padding-bottom: 10px;
    font-size: .4em;
}

div.titletext:hover {
  color: #ff7f50 !important;
  text-decoration: none;
  transition-duration: 0.1s;
}

div.rawtext {
    border-style: none;
    font-family:Open Sans,Arial;
    border-radius: 5px;
    /*
    background-color: #F0F0FF;
    */
    color:black;
    margin: auto;
    margin-bottom: .1em;
    /*max-width:1000px;*/
    width: 100%;
    padding: .5em 1em .5em;
    margin: auto;
    margin-bottom: .1em;
    padding: .5em 1em .5em;
}

div.overview, div.sentences {
    border-style: none;
    font-family:Open Sans,Arial;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(50,50,255,0.9), rgba(80,151,255,1));
    color:white;
    margin: auto;
    margin-bottom: .3em;
/*
    max-width:1000px;
*/
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    padding: .5em;
}

div.overview {
    margin: auto;
    margin-bottom: .1em;
    padding: .5em 1em .5em;
}

div.sentences{
    margin: .5em auto .5em;
    padding: .5em;
}

div.hawaiiansentence{
    font-family:Open Sans,Arial;
    color:#454545;
    font-size:24px;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* The source and snapshot links under each sentence */
span.hawaiiansentence.source {
    font-size: .9em;
}

p.title{
    font-size:16px;
    color: #eee;
    margin: 0;
    margin-bottom: -0.2em;
}

p.authors{
    font-size:18px;
}

p.source{
    font-size:14px;
    line-height:0.5;
}

span.author {
    color: #f66;
    display: inline-block;
    width: 10em;
}

span.date {
    color: #8f8;
    display: inline-block;
    width: 6em;
}

span.match {
    font-weight: bold;
    color: #6df;
    /*
    background-color: #3333ff;
    padding: .05em;
    padding-left: .2em;
    padding-right: .2em;
    border-radius: 4px;
   */
}
div.engsentence{
    font-family:Open Sans,Arial;
    color:#454545;
    font-size:16px;
    line-height:1.0;
    text-align:justify
}

div.headerlinks {
    text-align: right;
    padding-bottom: .5em;
    padding-right: .5em;
}

div.searchoptions {
    position: relative;
    padding-bottom: 3em;
    padding-right: 3em;
}

#search-options {
    width: fit-content;
    margin-top: .2em;
    padding: .4em;
    background-color: white;
    border-radius: 6px;
    text-align: left;
}

#search-options div {
    margin-top: .2em;
    height: fit-content;
}

#fadein {
    background-image: url("images/hawaiian-background.jpg"); /* url("https://www.hawaii-aloha.com/wp-content/uploads/2018/10/Hawaiian-Language-DuoLingo.jpg"); url("images/bg-min.jpg"); */
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0;
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    background-color: #778899;
}

#nofadein {
    background-image: url("images/hawaiian-background.jpg"); /* url("https://www.hawaii-aloha.com/wp-content/uploads/2018/10/Hawaiian-Language-DuoLingo.jpg"); //url("images/bg-min.jpg"); */
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #778899;
    opacity: 1;
    transition: opacity 250ms;
    -webkit-transition: opacity 250ms;
}

head {
    padding-bottom: 3em;
}

.search-bar {
  position: relative;
/*
  padding-bottom: 1em;
*/
}

.search-bar input {
     font-family: Open Sans,Arial;
     font-size:16px;
     height: 40px;
     width: 40%;
     padding-left:10px;
}

.search-button {
    font-family:Open Sans,Arial;
    font-size:16px;
    height: 40px;
    width: 80px;
    border-radius: 6px;
}

@media screen and (min-width:300px) and (max-width:500px) {
/*
    body{
        text-align:left
    }
    div.fancyPositioning div.picture-left,div.fancyPositioning div.tleft{
        float:none;
        width:inherit
    }
    blockquote span{
        width:80%
    }
    blockquote author{
        padding-top:1em;
        width:80%;
        margin-left:15%
    }
    blockquote author:before{
        content:"";
        margin-right:inherit
    }
*/
    div.headerlinks {
        text-align: right;
        margin-bottom: .1em;
        padding-bottom: .1em;
    }

    body {
/*
        font-size: 14px;
        margin: 0;
*/
        width: 155% !important;
    }

    div.titletext {
        font-size: 1.5em;
    }

    div.titletext p {
        font-size: .6em;
    }
}

@media screen and (max-width:900px) and (min-width:500px){
    .h1, h1 {
        font-size: 2rem;
    }
    body {

        width: 100% !important;

    }
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 4px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  list-style: none;
  padding: 4px 10px;
  padding-right: 26px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}

.dd-menu {
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 4px; /* 6px 16px; */
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

.character-insert-button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 4px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  list-style: none;
  padding: 4px 10px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.character-insert-button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.character-insert-button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.character-insert-button:focus {
  outline: 1px transparent;
}

.character-insert-button:before {
  display: none;
}

.character-insert-button:-webkit-details-marker {
  display: none;
}

/* Shared header button styles */
.linkbutton, .slide {
  appearance: none;
  border: 1px solid rgba(200, 200, 255, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  list-style: none;
  padding: 5px 14px;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  text-decoration: none;
  min-width: 80px;
  text-align: center;
}

.linkbutton {
  background-color: rgba(50,50,255,.8);
  color: #fff;
  position: relative;
}

.slide {
  background-color: lightblue;
  color: black;
  font-weight: bold;
  position: fixed;
  top: .5em;
  left: .5em;
  z-index: 1000;
}

.linkbutton:hover, .slide:hover {
  color: #ff7f50 !important;
  text-decoration: none;
  transition-duration: 0.1s;
}

.linkbutton:active {
  background-color: #1d1f29;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.linkbutton:focus {
  outline: 1px transparent;
}

.linkbutton:before {
  display: none;
}

.linkbutton:-webkit-details-marker {
  display: none;
}

input[type=search] {
    border-color: white !important;
}

a.nostyle{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    color: white;
    text-decoration: none;
}

a.nostyle:hover {
  color: #ff7f50 !important;
  text-decoration: none;
  transition-duration: 0.1s;
}

a.fancy {
    color:#dcf !important;
}
a.fancy:visited{
    
    color:#8ef !important;;
}

a.fancy {
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a.fancy:hover {
    color: blue;
  background-size: 0 3px, 100% 3px;
}

td.hawaiiansentence,th.hawaiiansentence {
    color: white;
}

#hoverBox {
    display: none;
    position: fixed; /*absolute;*/
    background-color: #f9f9f9;
    color: black;
    border: 1px solid #ccc;
    padding: 3px;
    z-index: 1;
    max-width: 80%;
    max-height: 80%;
    left: 10px;
    top: 10px;
}

#hoverBody {
    background-color: #f9f9f9;
    color: black;
    border: 1px solid #ccc;
    padding: 10px;
    overflow: auto;
    height: 100%;
    max-height: 400px;
    width: 100%;
}

.highlight {
    border: 2px dashed orange;
}

.searchterm {
    text-decoration: underline;
}

.searchtype {
    font-weight: bold;
}

h1.title {
    font-size: 1.5em;
}

/* Using a loader in bouncy-loader.css instead */
/*
div.page-load-status {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%, -50%);
    background-color: darkblue;   
    opacity: 0.5;
    border-radius: 10px;
    color:white;
    font-size:1.5em;
    margin:.1em auto;
    padding: .1em;
    padding-bottom: .1em;
    text-align:justify;
    text-align:center;
    animation: changeBackgroundColor 7s infinite;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: #001F3F;
  }
25%{    background-color: #43cea2;}

  50% {
    background-color: #FF4136;
  }
70%{
    background-color: #ffb347;}
  100% {
    background-color: #001F3F;
  }
} 

.loader-ellips {
  font-size: .8em;
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
  opacity: 1;
  color: white;
  z-index: 1;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;

  background: white;

  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
  from { transform: scale(0.001); }
  to { transform: scale(1); }
}

@keyframes slide {
  to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}
*/

.box {
    display: block;  
    background: rgba(0, 0, 230, 0.7);
    margin-bottom: 1em;
    color:white;
    margin: auto;
    border: 2px solid lightblue;
    border-radius: 8px;
}

#help-div {
    opacity: 0;
    padding: .5em;
    visibility: hidden;
    transition: opacity .5s .7s ease-out;
    font-size: 0.8em;
}

#help-div h3 {
    font-size: 1.2em;
}
#help-div.show {
    opacity: 1;
    visibility: visible;
}

#fade-help {
    height: 25em;
    max-height: 75% !important;
    width: 1px;
    opacity: 0;
    position: fixed;
    top: 11em;
    left: 0;
    z-index: 999;
    transition: all .75s ease;
    overflow: auto;
}
#fade-help.show {
    opacity: .9;
    width: 96%;
    left: 2%;
}
/* .slide styles now defined with .linkbutton above */

.sourcetable {
    font-size: 11pt;
}

.sourcetable th,
.sourcetable td {
    padding: 0.3em 0.4em;
}

.source-html {
    padding-right: 3em !important;
}

@media (max-width: 768px) {
    .sourcetable {
        font-size: 8pt;
    }
    
    .source-group {
        width: 4.5em;
    }
    .source-name {
        width: 11em;
    }
    .source-date {
        width: 4.5em;
    }
    .source-html {
        width: 2.5em;
        text-align: center;
    }
    .source-plain {
        width: 2.5em;
        text-align: center;
    }
    .source-authors {
        width: 5em;
    }
    .source-sentences {
        width: 3em;
        text-align: right;
    }
}

@media (min-width: 769px) {
    .source-group {
        width: 8em;
    }
    .source-name {
        min-width: 15em;
        width: auto;
    }
    .source-date {
        width: 6em;
    }
    .source-html {
        width: 3em;
    }
    .source-plain {
        width: 3em;
    }
    .source-authors {
        width: 10em;
        max-width: 10em;
    }
    .source-sentences {
        padding-right: .5em !important;
        width: 6em;
    }
}

